[user]
	name = shubham thakur
	email = sbmthakur@gmail.com
[core]
	editor = vim
[alias]
	tree = log --graph --color --oneline --decorate --all --pretty=format:\"%C(cyan)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\"
	whatadded = log --diff-filter=A
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	git = !exec git
	sha = rev-parse HEAD
	lfo = log --pretty=full --reverse --show-notes=* -p --abbrev-commit origin/master..
	br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[diff]
	tool = vimdiff
